--dhcpbridge_flagfile=/etc/nova/nova.conf
--dhcpbridge=/usr/bin/nova-dhcpbridge
--logdir=/var/log/nova
--state_path=/var/lib/nova
--lock_path=/var/lock/nova
--force_dhcp_release=True
--verbose
--sql_connection=mysql://nova:%MYSQL_NOVA_PASS%@%MYSQL_HOST%/nova
--public_interface=%PUBLIC_INTERFACE%
--vlan_interface=%VLAN_INTERFACE%
--zone_name=%REGION%
--node_availability_zone=%REGION%
--storage_availability_zone=%REGION%
--allow_admin_api=true
--enable_zone_routing=true
--api_paste_config=api-paste-keystone.ini
--vncserver_host=0.0.0.0
--vncproxy_url=http://%HOST_IP%:6080
--ajax_console_proxy_url=http://%HOST_IP%:8000
--glance_api_servers=%HOST_IP%:9292
--s3_dmz=%HOST_IP%
--ec2_host=%HOST_IP%
--s3_host=%HOST_IP%
--osapi_host=%HOST_IP%
--rabbit_host=%HOST_IP%
--dmz_net=%FIXED_RANGE_NET%
--dmz_mask=%FIXED_RANGE_MASK%
--fixed_range=%FIXED_RANGE%
--keystone_ec2_url=http://%HOST_IP%:5000/v2.0/ec2tokens
--multi_host=True
--send_arp_for_ha=True
--libvirt_type=%LIBVIRT_TYPE%
