NOVA_API_HOST=%HOST_IP%
GLANCE_API_HOST=%HOST_IP%
KEYSTONE_API_HOST=%HOST_IP%

KEYSTONE_TENANT="%TENANT%"
KEYSTONE_USERNAME="%USERNAME%"
KEYSTONE_PASSWORD="%PASSWORD%"

NOVA_REGION="%REGION%"

# Common Stuff Dont change
export NOVA_USERNAME=$KEYSTONE_USERNAME
export NOVA_PROJECT_ID=$KEYSTONE_TENANT
export NOVA_PASSWORD=$KEYSTONE_PASSWORD
export NOVA_API_KEY=$KEYSTONE_PASSWORD
export NOVA_REGION_NAME=$NOVA_REGION
export NOVA_URL="http://${NOVA_API_HOST}:5000/v2.0/"
export NOVA_VERSION="1.1"

export OS_AUTH_USER=$KEYSTONE_USERNAME
export OS_AUTH_KEY=$KEYSTONE_PASSWORD
export OS_AUTH_TENANT=$KEYSTONE_TENANT
export OS_AUTH_URL="http://${KEYSTONE_API_HOST}:5000/v2.0/"
export OS_AUTH_STRATEGY="keystone"

export EC2_URL="http://${NOVA_API_HOST}:8773/services/Cloud"
export EC2_ACCESS_KEY="$KEYSTONE_USERNAME:$KEYSTONE_TENANT"
export EC2_SECRET_KEY=$KEYSTONE_PASSWORD
export S3_URL="http://${GLANCE_API_HOST}:3333"